.Form {
  width: 450px;
}

.Form__list {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

.Form__list-item {
  display: block;
  margin-bottom: 15px;
}

.Form__label {
  color: #333;
  display: block;
  font-family: 'Inter UI', sans-serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
}

.Form__input {
  display: block;
  font-family: 'Inter UI', sans-serif;
  width: 100%;
}

.Form__attachment {
  display: flex;
  flex-wrap: nowrap;
}

.Form__attachment-type {
  margin-left: 10px;
}

.Form__attachment-add {
  cursor: pointer;
  font-weight: normal;
  text-decoration: underline;
}

.Form__submit {
  background-color: #3cca5e;
  border: none;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;
  font-family: 'Inter UI', sans-serif;
  font-size: 14px;
  padding: 10px 35px;
}

.Form__submit:hover {
  opacity: 0.8;
}
